.Header {
  width: 100%;
  height: 80px;
  padding: 14px 22px;
  display: flex;
  background-color: #FFFFFF;
  box-sizing: border-box;

  &__btn {
    width: 110px;
    padding: 0;
    background-color: #FFFFFF;
    border: none;
    font-size: 18px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;

    & > * {
      color: inherit;
    }
  }

  &__btn-logo {
    width: 148px;
  }

  &__btn-create {
    margin: auto;
    margin-right: 0;
    width: 115px;
    height: 32px;
    border: 1px solid #52C41A;
    border-radius: 5px;
  }

  &__btn-user {
    margin-left: 27px;
    padding-right: 60px;
    width: auto;
    display: flex;
    position: relative;
  }

  &__avatar {
    position: absolute;
    right: 0;
    width: 46px;
    height: 46px;
  }

  &__btn-logOut {
    margin-left: 27px;
    color: rgba(0, 0, 0, 0.75);
    border: 1px solid rgba(0, 0, 0, 0.75);
    border-radius: 5px;
  }

  &__btn-singIn {
    margin-left: auto;
  }

  &__btn-singUp {
    margin-left: 20px;
    color: #52C41A;
    border: 1px solid #52C41A;
    border-radius: 5px;
  }
}